# Azure PostgreSQL connection
Azure_DB_HOST=
Azure_DB_PORT=5432
Azure_DB_NAME=postgres
Azure_DB_USER=
Azure_DB_PASSWORD=

# ETL settings
ETL_SCHEMA=retail_dw
DATA_DIR=/content/drive/MyDrive/complete_journey_data/preprocessed
ETL_CHUNKSIZE=100000

FORCE_RELOAD_STAGING=false
FORCE_RELOAD_FACT=false
